.hbe-input-container {
  width: 80%;
  max-width: 800px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-flow: column-reverse;
  flex-flow: column-reverse;
  -webkit-box-align: start;
  -ms-flex-align: start;
  margin: 100px auto;
}

.hbe-button {
  width: 130px;
  height: 40px;
  background: linear-gradient(to bottom, #4eb5e5 0%,#389ed5 100%); /* W3C */
  border: none;
  border-radius: 5px;
  position: relative;
  border-bottom: 4px solid #2b8bc6;
  color: #fbfbfb;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  text-shadow: 1px 1px 1px rgba(0,0,0,.4);
  font-size: 15px;
  text-align: left;
  text-indent: 5px;
  box-shadow: 0px 3px 0px 0px rgba(0,0,0,.2);
  cursor: pointer;

  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}

.hbe-button:active {
  box-shadow: 0px 2px 0px 0px rgba(0,0,0,.2);
  top: 1px;
}

.hbe-button:after {
  content: "";
  width: 0;
  height: 0;
  display: block;
  border-top: 20px solid #187dbc;
  border-bottom: 20px solid #187dbc;
  border-left: 16px solid transparent;
  border-right: 20px solid #187dbc;
  position: absolute;
  opacity: 0.6;
  right: 0;
  top: 0;
  border-radius: 0 5px 5px 0;
}
.input-with-label {
  text-align: left;
  position: relative;
}
.input-with-label__input {
  height: 2.5rem;
  width: 100%;
  border: 0.125rem solid #222;
  border-radius: 0.375rem;
  background: transparent;
  padding: 0 0.625rem;
  letter-spacing: 0.0625rem;
  font-size: 0.875rem;
  color: #222;
}
.input-with-label__input:hover {
  background: rgba(34,34,34,0.01);
}
.input-with-label__input:not(:focus):not(.is-keep-focus).is-fill + .input-with-label__label {
  display: none;
}
.input-with-label__input:focus,
.input-with-label__input.is-keep-focus {
  outline: none;
  background: rgba(34,34,34,0.01);
}
.input-with-label__input:focus + .input-with-label__label,
.input-with-label__input.is-keep-focus + .input-with-label__label {
  top: -1.125rem;
  left: 0;
  background: #222;
  padding: 0.125rem 0.4375rem 0.25rem;
  font-size: 0.625rem;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  color: #fff;
  letter-spacing: 0.0625rem;
}
.input-with-label__input:focus + .input-with-label__label .input-with-label__label__corner,
.input-with-label__input.is-keep-focus + .input-with-label__label .input-with-label__label__corner {
  display: block;
}
.input-with-label__label {
  font-size: 0.875rem;
  display: block;
  position: absolute;
  color: #cecece;
  top: 0.625rem;
  left: 0.625rem;
  cursor: text;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.input-with-label__label__corner {
  display: none;
  position: absolute;
  left: 0;
  bottom: -0.25rem;
  width: 0;
  height: 0;
  border: 0.25rem solid transparent;
  border-left-color: #222;
}