@import "https://fonts.googleapis.com/css?family=Noto+Serif+SC:900&display=swap";

body {
/*    background:url(/images/bak.svg);*/
background: #f4f5f5!important;
}

.sidebar-focused {
    position: relative;
  }
  .sidebar-focused:after {
    content: "🎵→";
    color: white;
    text-align: center;
    vertical-align: middle;
    font-size: 25em;
    position: fixed;
    bottom: 0%;
    left: 0;
    right: 0;
    top: 0;
    background: #000;
    opacity: 0.6;
    -webkit-transition: opacity 0.3s, bottom 0s;
    transition: opacity 0.3s, bottom 0s;
    z-index: 1000;
  }



/*html {
    cursor: none!important;
}*/

/*.cursor {
    pointer-events: none;
    color: #fff;
    position: fixed;
    padding: 0.3rem;
    background-color: #212121;
    opacity: 0.8;
    border-radius: 50%;
    transition: transform 0.3s ease;
    z-index: 1000000;
}*/



/*a:hover, .copy-btn {
    cursor: none!important;
}*/


.site-title {
    font-family: LDL!important;
}

.content {
    padding-top: 0!important;
}

.post-block {
    padding-top: 70px!important;
}


.pagination {
    margin-top: 20px!important;
    border-top: 0!important;
}

.plyr video {
    margin-bottom: 0;
}

.plyr {
    margin-bottom: 20px;
}

.main-inner {
    padding-bottom: 20px!important;
    background-color: #ffffff;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
}

.pagination .page-number.current {
    background-color: #212121!important;
    border-top: none!important;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
}

.page-number, .prev, .next {
    border-top: none!important;
}

.page-number:hover, .prev:hover, .next:hover {
    background-color: #f4f5f5!important;
}

.pagination .page-number.current:hover {
    background-color: #212121!important;
}

.page-number, .prev, .next {
    margin: 0 5px!important;
    padding: 0 10px!important;
}

.site-subtitle, .post-title {
    font-weight: normal!important;
}

.post-copyright {
    border-left: 3px solid #009688!important;
}

.post-body h2::before {
    position: absolute;
    left: -1rem;
    color: #009688;
    content: "#";
    font-weight: bold;
    font-size: 1.2rem;
}

.post-body {
    position: relative;
}

.space {
    margin: 0 11px!important;
    padding: 0 10px!important;
}

.post-body {
    background-image: linear-gradient(90deg, rgba(50, 0, 0, 0.03) 3%, rgba(0, 0, 0, 0) 3%), linear-gradient(360deg,rgba(50, 0, 0, 0.03) 3%, rgba(0, 0, 0, 0) 3%);
    background-size: 20px 20px;
    background-position: center center;
}

.post-blocks {
  padding: 10px;
  font-size: 14px;
  line-height: 120%;
  text-align: left;
  border-bottom: 1px solid #e2e2e2;
  background-position: 0 bottom;
  background-repeat: repeat-x;
  }

.post-blocks:last-child {
    border-bottom: 0;
}
  .post-item-img-box {
      width: 48px;
  }
  .post-img {
  line-height: 120%;
  text-align: left;
  color: #778087;
  word-break: break-word;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-radius: 4px;
  }
  .post-cast {
  font-size: 12px;
  text-align: right;
  word-break: break-all;
  line-height: 12px;
  font-weight: normal;
  color: #fff;
  padding: 5px 10px;
  background-color: #212121;
  display: inline-block;
  border-radius: 2px;
  text-decoration: none;
  }
  .post-cast a:hover {
      text-decoration: none;
  }
  .post-item-title {
      margin: 0;
      font-weight: normal;
  text-align: left;
  font-size: 16px;
  line-height: 130%;
  text-shadow: 0 1px 0 #fff;
  word-break: break-word;
  }
  .post-link:hover {
    color: #009688;
    font-weight: bold;
  }
  .post-blocks a {
      border-bottom: 0;
  }
  .post-cast a {
      color: #fff;
  }
  .post-cast a:hover {
      color: #fff;
      text-decoration: underline;
  }
  .post-item-tags {
      margin-top: 10px;
    background: 0 0;
text-align: left;
word-break: break-word;
background-color: #f5f5f5;
font-size: 12px;
line-height: 12px;
display: inline-block;
padding: 4px;
border-radius: 2px;
text-decoration: none;
color: #999;
  }

  .post-author {
  text-align: left;
  font-size: 12px;
  color: #778087;
  line-height: 200%;
  font-weight: normal;
  }
  .post-time {
  text-align: left;
  font-size: 12px;
  color: #ccc;
  line-height: 200%;
  }  

  .post-info {
      color: #ccc;
  }
  .post-blocks table {
    margin: 0!important;
  }

  .post-blocks table tr {
    background: none!important;
  }

  .post-blocks table tr td,.post-blocks table tr th{
    border: 0;
    padding: 2px;
  }

  .post-author::before, .post-time::before, .post-inline-cast::before {
      content: "\00A0•\00A0";
      color: #ccc;
  }

  .my-tag-0 {
      display: none;
  }

  .post-inline-cast {
      display: none;
  }

  @media screen and (min-width: 320px) and (max-width: 480px) {


    /*.cursor {
      display: none;
    }*/

    .post-item-img-box {
        width: 48px!important;
        vertical-align: middle;
    }

    .post-inline-cast {
        display: inherit;
    }

    .post-item-cast-box {
        display: none;
    }

    .post-time::before {
        content: "";
    }

    .my-tag-1 {
        display: none;
    }

    .my-tag-0 {
        display: inherit;
    }

    .my-tag-0 .post-item-tags {
        margin: 0 2px 5px 0;
    }

    

  }

@media screen and (min-width: 480px) {
    .main-inner {
        padding: 0 60px 20px 60px;
    }

    ::-webkit-scrollbar {
        width: 10px;
        height: 10px
    }
    
    ::-webkit-scrollbar-button {
        width: 0;
        height: 0
    }
    
    ::-webkit-scrollbar-button:end:decrement,::-webkit-scrollbar-button:start:increment {
        display: none
    }
    
    ::-webkit-scrollbar-corner {
        display: block;
    }
    
    ::-webkit-scrollbar-thumb {
        border-radius: 8px;
        background-color: rgba(0,0,0,.2);
    }
    
    ::-webkit-scrollbar-thumb:hover {
        border-radius: 8px;
        background-color: rgba(0,0,0,.5)
    }
    
    ::-webkit-scrollbar-thumb,::-webkit-scrollbar-track {
        border-right: 1px solid transparent;
        border-left: 1px solid transparent;
    }
    
    ::-webkit-scrollbar-track:hover {
        background-color: rgba(0,0,0,.15)
    }
    
    ::-webkit-scrollbar-button:start {
        width: 10px;
        height: 10px;
        background: url(/images/scrollbar_arrow.png) no-repeat 0 0
    }
    
    ::-webkit-scrollbar-button:start:hover {
        background: url(/images/scrollbar_arrow.png) no-repeat -15px 0
    }
    
    ::-webkit-scrollbar-button:start:active {
        background: url(/images/scrollbar_arrow.png) no-repeat -30px 0
    }
    
    ::-webkit-scrollbar-button:end {
        width: 10px;
        height: 10px;
        background: url(/images/scrollbar_arrow.png) no-repeat 0 -18px
    }
    
    ::-webkit-scrollbar-button:end:hover {
        background: url(/images/scrollbar_arrow.png) no-repeat -15px -18px
    }
    
    ::-webkit-scrollbar-button:end:active {
        background: url(/images/scrollbar_arrow.png) no-repeat -30px -18px
    }
}

.loader-inner {
    padding-top: 60px;
}

.site-title {
    color: #212121!important;
    font-size: 3.5em!important;
    line-height: 1!important;
}

.brand {
    background: none!important;
}

/*
.post-body a {
  background-image: linear-gradient(120deg, rgb(240, 147, 251) 0%, rgb(245, 87, 108) 100%)!important;
  background-repeat: no-repeat!important;
  background-size: 100% 0.2em!important;
  background-position: 0 88%!important;
  transition: background-size 0.25s ease-in!important;
  text-decoration: none;
  border-bottom: none;
}

.post-body a:hover {
  background-size: 100% 88%!important;
}
*/




/* Style the rainbow text element. */
/*.site-title {

  background: conic-gradient(
    #CA4246 16.666%, 
    #E16541 16.666%, 
    #E16541 33.333%, 
    #F18F43 33.333%, 
    #F18F43 50%, 
    #8B9862 50%, 
    #009688 66.666%, 
    #476098 66.666%, 
    #212121 83.333%, 
    #A7489B 83.333%)!important;
  
  background-size: 57%!important;
  background-repeat: repeat!important;
  
  -webkit-background-clip: text!important;
  -webkit-text-fill-color: transparent!important; 
  animation: rainbow-text-animation-rev 0.5s ease forwards!important;

}

.site-title:hover {
  animation: rainbow-text-animation 0.5s ease forwards!important;
}

@keyframes rainbow-text-animation {
  0% {
    background-size: 57%;
    background-position: 0 0;
  }
  20% {
    background-size: 57%;
    background-position: 0 1em;
  }
  100% {
    background-size: 300%;
    background-position: -9em 1em;
  }
}

@keyframes rainbow-text-animation-rev {
  0% {
    background-size: 300%;
    background-position: -9em 1em;
  }
  20% {
    background-size: 57%;
    background-position: 0 1em;
  }
  100% {
    background-size: 57%;
    background-position: 0 0;
  }
}*/