html, body, canvas {
  font-family: monospace;
  background: #000;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body > div, body canvas {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

canvas {
  z-index: 10;
  opacity: 0.8;
}

.flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.effects {
  z-index: 100;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAADCAQAAAD41K0JAAAADklEQVQI12Ng+A+EQAQADfsC/pD7Z48AAAAASUVORK5CYII=);
  background-repeat: repeat;
  opacity: 0.1;
  pointer-events: none;
}

.overlays {
  z-index: 50;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.overlays .loading, .overlays .error, .overlays .msgbox {
  width: 400px;
  height: 140px;
  border: 7px solid;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Ubuntu Mono";
  font-weight: 600;
  font-size: 55px;
  letter-spacing: 5px;
  -webkit-animation: msgopen ease-in-out 1;
          animation: msgopen ease-in-out 1;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.overlays .loading {
  color: #00e700;
  border-color: rgba(0, 231, 0, 0.8);
  background: rgba(0, 66, 0, 0.85);
  text-shadow: 0 0 10px #00e700;
  box-shadow: 0 0 20px rgba(0, 231, 0, 0.7);
}
.overlays .loading span {
  -webkit-animation: loadingblink 1.5s linear infinite;
          animation: loadingblink 1.5s linear infinite;
}
.overlays .error {
  color: #e70000;
  border-color: rgba(231, 0, 0, 0.8);
  background: rgba(66, 0, 0, 0.85);
  text-shadow: 0 0 10px #e70000;
  box-shadow: 0 0 20px rgba(231, 0, 0, 0.7);
}
.overlays .error span {
  -webkit-animation: errorblink 2s linear infinite;
          animation: errorblink 2s linear infinite;
}
.overlays .msgbox {
  color: #d3ffd3;
  border-color: rgba(211, 255, 211, 0.8);
  background: rgba(45, 81, 45, 0.85);
  text-shadow: 0 0 10px rgba(211, 255, 211, 0.8);
  box-shadow: 0 0 20px rgba(211, 255, 211, 0.5);
  width: 500px;
  height: auto;
  min-height: 50px;
  padding: 20px 25px;
  font-weight: 400;
  font-size: 24px;
  line-height: 40px;
  letter-spacing: initial;
  overflow: hidden;
}
.overlays .msgbox span {
  word-wrap: break-word;
  position: relative;
            /*&::before {
                content:'> ';
            }
            &::after {
                content:'_';
                animation:hardblink 1s linear infinite;
            }
					*/
}

@-webkit-keyframes loadingblink {
  0% {
    color: rgba(0, 231, 0, 0.6);
    text-shadow: 0 0 6px rgba(0, 231, 0, 0.6);
  }
  50% {
    color: #00e700;
    text-shadow: 0 0 10px #00e700;
  }
  100% {
    color: rgba(0, 231, 0, 0.6);
    text-shadow: 0 0 6px rgba(0, 231, 0, 0.6);
  }
}

@keyframes loadingblink {
  0% {
    color: rgba(0, 231, 0, 0.6);
    text-shadow: 0 0 6px rgba(0, 231, 0, 0.6);
  }
  50% {
    color: #00e700;
    text-shadow: 0 0 10px #00e700;
  }
  100% {
    color: rgba(0, 231, 0, 0.6);
    text-shadow: 0 0 6px rgba(0, 231, 0, 0.6);
  }
}
@-webkit-keyframes errorblink {
  0% {
    color: rgba(231, 0, 0, 0.8);
    text-shadow: 0 0 8px rgba(231, 0, 0, 0.8);
  }
  50% {
    color: #e70000;
    text-shadow: 0 0 10px #e70000;
  }
  100% {
    color: rgba(231, 0, 0, 0.8);
    text-shadow: 0 0 8px rgba(231, 0, 0, 0.8);
  }
}
@keyframes errorblink {
  0% {
    color: rgba(231, 0, 0, 0.8);
    text-shadow: 0 0 8px rgba(231, 0, 0, 0.8);
  }
  50% {
    color: #e70000;
    text-shadow: 0 0 10px #e70000;
  }
  100% {
    color: rgba(231, 0, 0, 0.8);
    text-shadow: 0 0 8px rgba(231, 0, 0, 0.8);
  }
}
@-webkit-keyframes msgopen {
  0% {
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0);
  }
  1% {
    -webkit-transform: scale(0, 0.01);
            transform: scale(0, 0.01);
  }
  60% {
    -webkit-transform: scale(1, 0.01);
            transform: scale(1, 0.01);
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}
@keyframes msgopen {
  0% {
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0);
  }
  1% {
    -webkit-transform: scale(0, 0.01);
            transform: scale(0, 0.01);
  }
  60% {
    -webkit-transform: scale(1, 0.01);
            transform: scale(1, 0.01);
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}
@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes hardblink {
  0% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes hardblink {
  0% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
::-moz-selection {
  background: rgba(255, 255, 255, 0.05);
}
::selection {
  background: rgba(255, 255, 255, 0.05);
}
