@charset "UTF-8";

@font-face {
  font-family: "ROYIANS";
  src: url("ROYIANS.woff2") format("woff2"),
       url("ROYIANS.woff") format("woff"),
       url("ROYIANS.ttf") format("truetype"),
       url("ROYIANS.eot") format("embedded-opentype"),
       url("ROYIANS.svg") format("svg"),
       url("ROYIANS.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}